<h2>Todas as melhores experiências para seu conforto</h2>

<div class="features">
  <mat-card appearance="outlined">
    <img mat-card-image src="assets/heroImage.jpg" />
    <mat-card-header>Loren Ipsulum</mat-card-header>
    <mat-card-content
      >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam harum
      accusantium, dolor nesciunt tenetur ab ipsa rem amet, tempore veritatis
      aliquid modi enim saepe omnis. Est minus recusandae praesentium
      nisi?</mat-card-content
    >
  </mat-card>
  <mat-card appearance="outlined">
    <img mat-card-image src="assets/heroImage.jpg" />
    <mat-card-header>Loren Ipsulum</mat-card-header>
    <mat-card-content
      >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam harum
      accusantium, dolor nesciunt tenetur ab ipsa rem amet, tempore veritatis
      aliquid modi enim saepe omnis. Est minus recusandae praesentium
      nisi?</mat-card-content
    >
  </mat-card>
  <mat-card appearance="outlined">
    <img mat-card-image src="assets/heroImage.jpg" />
    <mat-card-header>Loren Ipsulum</mat-card-header>
    <mat-card-content
      >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam harum
      accusantium, dolor nesciunt tenetur ab ipsa rem amet, tempore veritatis
      aliquid modi enim saepe omnis. Est minus recusandae praesentium
      nisi?</mat-card-content
    >
  </mat-card>
</div>
