@import '../../_variables.scss';

:host {
  background-color: $verdeEscuro;
  width: 100%;
  padding: 30px;
  color: $branco;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3em;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  flex-wrap: wrap;

  mat-card {
    width: 20em;
    gap: 0.5em;
  }

  mat-card-header {
    font-weight: 600;
  }
}



h2 {
  font-size: 2em;
  padding: 16px;
}
